data_model/xsd/access.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:complexType name="AccessType">
        <xs:attribute name="fabricSensitive" type="xs:boolean" use="optional" />
        <xs:attribute name="fabricScoped" type="xs:boolean" use="optional" />
        <xs:attribute name="timed" type="xs:boolean" use="optional" />
        <xs:attribute name="read" type="xs:string" use="optional" />
        <xs:attribute name="write" type="xs:string" use="optional" />
        <xs:attribute name="readPrivilege" type="xs:string" use="optional" />
        <xs:attribute name="writePrivilege" type="xs:string" use="optional" />
        <xs:attribute name="invokePrivilege" type="xs:string" use="optional" />
    </xs:complexType>

</xs:schema>