data_model/xsd/bitmap.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:include schemaLocation="conformance.xsd" />

    <xs:complexType name="BitmapBitType">
        <xs:group ref="ConformanceSetGroup" minOccurs="0" maxOccurs="1" />
        <xs:attribute name="bit" type="xs:integer" use="optional" />
        <xs:attribute name="mask" type="xs:integer" use="optional" />
        <xs:attribute name="from" type="xs:string" use="optional" />
        <xs:attribute name="to" type="xs:string" use="optional" />
        <xs:attribute name="name" type="xs:string" use="required" />
        <xs:attribute name="summary" type="xs:string" use="optional" />

    </xs:complexType>

    <xs:complexType name="BitmapType">
        <xs:sequence>
            <xs:element name="bitfield" type="BitmapBitType" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="required" />
    </xs:complexType>


</xs:schema>