data_model/xsd/namespace.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:complexType name="TagType">
        <xs:sequence>
            <xs:element name="description" minOccurs="0" maxOccurs="1"></xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:string" use="required" />
        <xs:attribute name="name" type="xs:string" use="required" />
    </xs:complexType>

    <xs:complexType name="TagsType">
        <xs:sequence>
            <xs:element name="tag" type="TagType" minOccurs="0" maxOccurs="unbounded" />

        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="NamespaceType">
        <xs:sequence>
            <xs:element name="tags" type="TagsType" minOccurs="0" maxOccurs="1"></xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:string" use="optional" />
        <xs:attribute name="name" type="xs:string" use="required" />
    </xs:complexType>

    <xs:element name="namespace" type="NamespaceType" />

</xs:schema>