data_model/xsd/quality.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="QualityType">
    <xs:attribute name="diagnostics" type="xs:boolean" use="optional" />
    <xs:attribute name="nullable" type="xs:boolean" use="optional" />
    <xs:attribute name="scene" type="xs:boolean" use="optional" />
    <xs:attribute name="persistence" type="xs:string" use="optional" />
    <xs:attribute name="reportable" type="xs:boolean" use="optional" />
    <xs:attribute name="singleton" type="xs:boolean" use="optional" />
    <xs:attribute name="atomicWrite" type="xs:boolean" use="optional" />
    <xs:attribute name="quieterReporting" type="xs:boolean" use="optional" />
    <xs:attribute name="changeOmitted" type="xs:boolean" use="optional" />
    <xs:attribute name="sourceAttribution" type="xs:boolean" use="optional" />
    <xs:attribute name="largeMessage" type="xs:boolean" use="optional" />
  </xs:complexType>

</xs:schema>
