data_model/xsd/revision.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:complexType name="RevisionType">
        <xs:attribute name="revision" type="xs:positiveInteger" use="required" />
        <xs:attribute name="summary" type="xs:string" use="required" />
    </xs:complexType>

    <xs:complexType name="RevisionHistoryType">
        <xs:sequence>
            <xs:element name="revision" type="RevisionType" minOccurs="1" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

</xs:schema>